---
import PostCard from "@/layouts/components/_shared/PostCard.astro";
const { posts } = Astro.props;
---

<section>
  <div class="container">
    <div class="row justify-center">
      {
        posts.map((post: any) => (
          <div class="col-12 mb-8 md:col-6 lg:col-5">
            <PostCard content={post} collection="blog" />
          </div>
        ))
      }
    </div>
  </div>
</section>
