---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Meet Šimon Podhajský"
	pubDate={new Date()}
	heroImage="/blog-placeholder-about.jpg"
	language="en"
>
	<p>
		I know data science and data engineering; I know LLMs. I can work across the stack with either or all. In short, <strong>I'm a generalist</strong>.
	</p>
	<p>
		I'm curious, take initiative, and have a proven track record of excellence. If you don't believe me, <a href="/side_projects">check out my side projects</a>.
	</p>
</Layout>
