---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import IntroSection from '../components/IntroSection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi! I'm Šimon. 👋</h1>
			<h2>Sometimes, I...</h2>
			<IntroSection header="...write technical articles" source_collection="blog" />
			<!-- TODO: Should the IntroSection for presentations be separate? -->
			<IntroSection header="...host talks and presentations" source_collection="presentations" />
			<IntroSection header="...work on side projects" source_collection="side_projects" />
			<p>
				Read more <a href="/about">about me</a>, see <a href="/now">what I'm up to now</a>,
				or <a href="/uses">the hardware and software tech stack I use on the daily.</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
