---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (
  await getCollection("now", (post) => {
    // Subset posts to only things that have been added or updated in the last 365 days, or things marked as persistent:
    const now = new Date();
    const oneYearAgo = new Date(now);
    oneYearAgo.setFullYear(oneYearAgo.getFullYear() - 1);
    return (
      post.data.persistent ||
      Math.max(
        post.data.pubDate.valueOf(),
        post.data.updatedDate?.valueOf() ?? 0
      ) >= oneYearAgo.valueOf()
    );
  })
)
  // Sort by max(updatedDate, pubDate) in descending order:
  .sort(
    (a, b) =>
      Math.max(a.data.pubDate.valueOf(), a.data.updatedDate?.valueOf() ?? 0) -
      Math.max(b.data.pubDate.valueOf(), b.data.updatedDate?.valueOf() ?? 0)
  )
  .reverse();

// Render the posts here already so we can use them in the template:
async function renderPosts() {
  const renderedPosts = await Promise.all(
    posts.map(async (post) => {
      const { Content, headings } = await post.render();
      return { title: headings, content: Content, post: post };
    })
  );
  return renderedPosts;
}

const all_posts = await renderPosts();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }

      .introduction {
        padding-left: 1em;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section class="introduction">
        <h2>What Am I Up To?</h2>
        <p>
          This page contains my activities added or updated in the past year.
          Come talk to me about it!
        </p>
        <p>
          This is part of the <a href="https://nownownow.com/about">/now</a> movement.
        </p>
      </section>
      {
        all_posts.map((rendered_post) => (
          <section>
            <h4 class="title">{rendered_post.post.data.title}</h4>
            <p class="content"><rendered_post.content /></p>
            <slot />
          </section>
        ))
      }
    </main>
    <Footer />
  </body>
</html>
