---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import DefaultItem from "@/layouts/DefaultItem.astro";
import PageHeader from "@/components/_shared/PageHeader.astro";
import { markdownify } from "@/lib/utils/textConverter";

const posts = (
  await getCollection("now", (post) => {
    // Subset posts to only things that have been added or updated in the last 365 days, or things marked as persistent:
    const now = new Date();
    const oneYearAgo = new Date(now);
    oneYearAgo.setFullYear(oneYearAgo.getFullYear() - 1);
    return (
      post.data.persistent ||
      Math.max(
        post.data.pubDate.valueOf(),
        post.data.updatedDate?.valueOf() ?? 0
      ) >= oneYearAgo.valueOf()
    );
  })
)
  // Sort by max(updatedDate, pubDate) in descending order:
  .sort(
    (a, b) =>
      Math.max(a.data.pubDate.valueOf(), a.data.updatedDate?.valueOf() ?? 0) -
      Math.max(b.data.pubDate.valueOf(), b.data.updatedDate?.valueOf() ?? 0)
  )
  .reverse();

// Render the posts here already so we can use them in the template:
async function renderPosts() {
  const renderedPosts = await Promise.all(
    posts.map(async (post) => {
      const { Content, headings } = await post.render();
      return { title: headings, content: Content, post: post };
    })
  );
  return renderedPosts;
}

const all_posts = await renderPosts();
---

<Base
  title="Now"
  description="This page contains my activities added or updated in the past year"
>
  <main class="container">
    <PageHeader title="What Am I Up To?" />
    <section class="mx-auto py-16 lg:col-8">
      <div class="content">
        <p>
          This page contains my activities added or updated in the past year.
          Come talk to me about it!
        </p>
        <p>
          This is part of the <a
            class="text-primary"
            href="https://nownownow.com/about">/now</a
          > movement.
        </p>

        {
          all_posts.map((rendered_post) => (
            <DefaultItem data={rendered_post.post} />
          ))
        }
      </div>
    </section>
  </main>
</Base>
