---
import type { CollectionEntry } from "astro:content";
import PostCard from "@/components/_shared/PostCard.astro";
import { markdownify } from "@/lib/utils/textConverter";
import SectionTitle from "../_shared/SectionTitle.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
  data: {
    title: string;
    subtitle: string;
    link: {
      label: string;
      href: string;
    };
  };
}

const {
  posts,
  data: { title, subtitle, link },
} = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12">
        <SectionTitle data={{ title, subtitle }} />
      </div>
      {
        posts.map((post, i) => (
          <div class="col-12 mb-8 md:col-6 lg:col-4">
            <PostCard post={post} />
          </div>
        ))
      }

      <div class="text-center mt-4">
        <a href={link.href} class="btn btn-primary">
          {link.label}
        </a>
      </div>
    </div>
  </div>
</section>
