---
import { getImage, Image } from "astro:assets";
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import readingTime from "@/lib/utils/readingTime";
import { plainify, slugify } from "@/lib/utils/textConverter";
import defaultHeroImage from "@/assets/default_blog_hero_image.png";

const { project } = Astro.props;
const { summary_length } = config.settings;

const {
  data: { title, description, heroImage, author, date },
  slug,
  body,
} = project;
---

<article
  class="mt-7 h-full rounded-2xl border-0 bg-body shadow"
  data-aos="fade-up"
  data-aos-easing="ease-in-out"
  data-aos-duration="1000"
  data-aos-once="true"
>
  <a href={`/blog/${slug}/`}>
    <Image
      src={heroImage ?? defaultHeroImage}
      alt={title}
      class="h-[200px] max-w-full rounded-t-[18px] object-cover lg:h-[300px]"
      width={570}
      height={335}
    />
  </a>
  <div class="px-6 pb-1 pt-8">
    <h3
      class="card-title mb-4 text-h5 font-semibold transition-colors hover:text-primary"
    >
      <a href={`/blog/${slug}/`}>{title}</a>
    </h3>
    <p class="mb-0 break-words text-text">
      {
        description
          ? description
          : `${plainify(body?.slice(0, Number(summary_length)))}...`
      }
    </p>
  </div>
</article>
