---
import { markdownify } from "@/lib/utils/textConverter";

interface Props {
  data: {
    title: string;
    subtitle?: string;
    description?: string;
  };
  left?: boolean;
}

const {
  data: { title, subtitle, description },
  left = false,
} = Astro.props;
---

<div class:list={["section-heading", left ? "text-left" : "text-center"]}>
  {
    subtitle && (
      <p
        set:html={markdownify(subtitle)}
        class="mb-4 text-[0.9rem] uppercase"
        data-aos="fade-in"
        data-aos-easing="ease-in-out"
        data-aos-duration="1000"
        data-aos-once="true"
      />
    )
  }
  <h2
    set:html={markdownify(title)}
    class:list={[left ? "heading-left" : "heading"]}
    data-aos="fade-up"
    data-aos-easing="ease-in-out"
    data-aos-duration="1000"
    data-aos-once="true"
  />
  {
    description && (
      <p
        set:html={markdownify(description)}
        class=" mx-auto max-w-3xl leading-normal text-text"
        data-aos="fade-up"
        data-aos-easing="ease-in-out"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-delay="100"
      />
    )
  }
</div>

<style>
  .section-heading {
    @apply mb-10;

    .heading {
      @apply relative mb-10 capitalize;

      &::after {
        @apply absolute -bottom-5 left-[50%] h-[5px] w-[4.3rem] -translate-x-[50%] rounded-[1.8rem] bg-primary content-[""];
      }
    }

    .heading-left {
      @apply relative mb-10 capitalize;

      &::after {
        @apply absolute -bottom-5 left-0 h-[5px] w-[4.3rem] -translate-x-0 rounded-[1.8rem] bg-primary content-[""];
      }
    }
  }
</style>
