---
import { markdownify } from "@/lib/utils/textConverter";

const { data } = Astro.props;
const { title } = data.data;
const { Content } = await data?.render();
---

<section class="section">
  <div class="container">
    <h2 set:html={markdownify(title)} class="text-h2" />
    <div class="content">
      <Content />
    </div>
  </div>
</section>
