---
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "./components/_shared/PageHeader.astro";

const { data } = Astro.props;
const { title } = data.data;
const { Content } = await data?.render();
---

<section>
  <div class="container">
    <PageHeader title={markdownify(title)} />
    <div class="mt-16 lg:col-8 lg:mx-auto lg:mt-20">
      <div class="content">
        <Content />
      </div>
    </div>
  </div>
</section>
